.excel-lottery.decider {
	background-color: #fafafa;

	#martix {
		width: unset;
		height: unset;
		position: absolute;
		bottom: 10vh;

		&:hover {
			.config-btn {
				transform: translateY(0);
				opacity: 1;
			}
		}

		&.stop {
			#pick {
				background-color: #3f51b5;
				border-color: #3f51b5;
			}
			.config-btn {
				color: #3f51b5;
			}
		}
	}

	#title {
		margin-top: 0;
		// margin-bottom: 280px;
	}

	#pick {
		margin: 4px 0 0;
		background-color: #40a9ff;
		border-color: #40a9ff;
		letter-spacing: 2px;
		z-index: 2;

		&.ant-btn-primary[disabled] {
			background: #e0e0e0;
			cursor: no-drop;
		}
	}

	#unicorn {
		color: #f44336;
		font-weight: 700;
		font-size: 30px;
		background: #fafafa;
		padding: 20px 40px;
		border-radius: 8px;
		box-shadow: 1px 2px 10px #e0e0e0;
		transition: all 0.5s ease;
	}

	.imported-count {
		cursor: pointer;
	}

	.import-btn {
	}

	.config-btn {
		transform: translateY(-30px);
		opacity: 0;
		z-index: 1;
		transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	}
}

.imported-popover {
	.ant-popover-content {
		max-width: 80%;
		margin: auto;

		.imported-list {
			max-height: 50vh;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}
