.menu {
	padding: 2vw;
	height: 100%;

	&-header {
		font-size: 40px;
		font-weight: bold;
		transition: font-size 0.2s ease;
	}

	&-list {
		padding-top: 20px;
		display: flex;
		flex-flow: row wrap;
		// justify-content: center;
		overflow-y: auto;

		&-item {
			display: block;
			flex: 0;
			flex-basis: 30vw;

			box-sizing: border-box;
			padding: 20px;
			margin: 10px 0;

			transition: all 0.5s ease;
		}

		.route-item {
			display: flex;
			flex-flow: column nowrap;
			position: relative;

			border: 1px solid #e0e0e0;
			border-radius: 5px;
			margin-right: 1vw;
			overflow: hidden;

			&:not(.route-item--dev) {
				cursor: pointer;
				&:hover {
					border-color: #9e9e9e;
					box-shadow: 0 0 20px #e0e0e0;
				}
			}

			&:nth-of-type(2n) {
				&::before {
					background: linear-gradient(45deg, rgb(247, 251, 255), white);
					top: 50%;
					left: 60%;
					width: 150%;
					height: 120%;
					z-index: -1;
					transform: rotateZ(-10deg);
				}
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				background: linear-gradient(-90deg, aliceblue, white);
				top: 70%;
				left: 0;
				height: 40%;
				width: 120%;
				z-index: -1;
				transform: rotateZ(-4deg);
			}

			h3 {
				font-size: 20px;
				font-weight: bold;
			}

			p {
				flex: 1;
				margin-top: 8px;
				margin-bottom: 16px;
				font-size: 18px;
			}

			&-button {
				background: linear-gradient(90deg, rgba(250, 29, 73, 1) 0%, rgba(253, 100, 114, 1) 100%);
				box-shadow: 0px 4px 4px 0px rgba(251, 30, 74, 0.15);

				color: white;
				width: 100px;
				height: 40px;
				border: none;
				border-radius: 25px;
				cursor: pointer;
			}

			&--dev {
				&,
				h3 {
					color: lighten($color: black, $amount: 60%);
				}
			}
		}
	}

	.ant-affix {
		z-index: 1;
		left: 0;
		right: 0;

		.menu-header {
			width: 100vw;
			padding: 8px 30px;
			background: white;
			font-size: 30px;
			box-shadow: 0 2px 5px #eee;
		}
	}
}
