.app {
	height: 100vh;
	font-family: "Microsoft Yahei";
}
::-webkit-scrollbar {
	width: 8px;
	background-color: #f5f5f5;

	&-thumb {
		border-radius: 10px;
		background-color: rgb(207, 207, 207);
	}
}
